/*
Theme Name:   RealHomes Child
Theme URI:    https://github.com/Kochanie65/realhomes-child-fancybox-debug
Description:  RealHomes Child Theme
Author:       Kochanie65
Template:     realhomes
Version:      1.0.0
Text Domain:  realhomes-child
*/
